<% if logged_in? %>

<% if params[:pdf] %>

  <head>
    <meta charset='utf-8' />
  <%= wicked_pdf_stylesheet_link_tag "pdf/pdf" %>
  </head>
  <% i=0 %>
  
  <% @fixedassets.each do |fixedasset| %>
  <% i=i+1 %>
    <table>
    <tr>
      <td class="b">作成日</td>
      <td class="e"><%= fixedasset.create_date %></td>
    </tr>
    <tr>
      <td class="b">固定資産番号</td>
      <td class="e"><%= fixedasset.asset_number %></td>
    </tr>
    <tr>
      <td class="b">取得日</td>
      <td class="e"><%= fixedasset.acquisition_date %></td>
    </tr>
    <tr>
      <td class="b">機種名</td>
      <td class="e"><%= fixedasset.modeltype_name %></td>
    </tr>
    <tr>
      <td class="b">シリアル</td>
      <td class="e"><%= fixedasset.serial_number %></td>
    </tr>
    <tr>
      <td class="b">場所</td>
      <td class="e"><%= fixedasset.place_summary %></td>
    </tr>
    <tr>
      <td class="b">詳細</td>
      <td class="e"><%= fixedasset.place_detail %></td>
    </tr>
    </table>
  <p class="s">
    <%= fixedasset.case_name %>
  </p>
    
    <% if i%4==0 %>
        <p class="br"></p>
    <% end %>

    
  <% end %>
  


<% else %>

<p id="notice"><%= notice %></p>

<%= search_form_for @q do |f| %>

  <%= f.label :search, "全検索(備考以外)" %>
  <%= f.search_field :create_date_or_asset_number_or_case_name_or_acquisition_date_or_modeltype_name_or_serial_number_or_place_summary_or_place_detail_cont %>
  <br />

  <%# 検索ボタン %>
  <%= f.submit "検索"%>
  
  <%= f.submit "検索PDF" ,name:"pdf" %>
  
<% end %>  
  
<hr />



<table>
  <thead>

    <tr>
      <th><%= sort_link(@q, :create_date,"作成日") %></th>
      <th><%= sort_link(@q, :asset_number,"固定資産番号(個別コード)") %></th>
      <th><%= sort_link(@q, :acquisition_date,"固定資産取得年月日") %></th>
      <th><%= sort_link(@q, :modeltype_name,"機種名") %></th>
      <th><%= sort_link(@q, :serial_number,"シリアル番号") %></th>
      <th><%= sort_link(@q, :place_summary,"設置場所") %></th>
      <th><%= sort_link(@q, :place_detail,"設置場所詳細") %></th>
      <th><%= sort_link(@q, :etc_content,"備考") %></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @fixedassets.each do |fixedasset| %>
      <tr>
        <td><%= fixedasset.create_date %></td>
        <td><%= fixedasset.asset_number %></td>
        <td><%= fixedasset.case_name %></td>
        <td><%= fixedasset.acquisition_date %></td>
        <td><%= fixedasset.modeltype_name %></td>
        <td><%= fixedasset.serial_number %></td>
        <td><%= fixedasset.place_summary %></td>
        <td><%= fixedasset.place_detail %></td>
        <td><%= fixedasset.etc_content %></td>
        <td><%= link_to '詳細', fixedasset %></td>
        <td><%= link_to 'PDF', fixedasset_path(fixedasset, format: :pdf) %></td>
        <td><%= link_to '編集', edit_fixedasset_path(fixedasset) %></td>
        <td><%= link_to '削除', fixedasset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<hr />
<%= link_to '新規登録', new_fixedasset_path %>
<br>

<hr />

<b>CSVインポート</b>

<%= form_tag import_fixedassets_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "CSVインポート" %>
<% end %>


<hr />

<b>
<%= link_to "CSVエクスポート", fixedassets_path(format: :csv) %>
</b>

<% end %>

<% else %>
    <h2>セッション異常です。ログインしてください。</h2>  
<% end %>