<p id="notice"><%= notice %></p>

<p>
  <strong>Create date:</strong>
  <%= @fixedasset.create_date %>
</p>

<p>
  <strong>Asset number:</strong>
  <%= @fixedasset.asset_number %>
</p>

<p>
  <strong>Case name:</strong>
  <%= @fixedasset.case_name %>
</p>

<p>
  <strong>Acquisition date:</strong>
  <%= @fixedasset.acquisition_date %>
</p>

<p>
  <strong>Modeltype name:</strong>
  <%= @fixedasset.modeltype_name %>
</p>

<p>
  <strong>Serial number:</strong>
  <%= @fixedasset.serial_number %>
</p>

<p>
  <strong>Place summary:</strong>
  <%= @fixedasset.place_summary %>
</p>

<p>
  <strong>Place detail:</strong>
  <%= @fixedasset.place_detail %>
</p>

<p>
  <strong>Etc content:</strong>
  <%= @fixedasset.etc_content %>
</p>

<%= link_to 'Edit', edit_fixedasset_path(@fixedasset) %> |
<%= link_to 'Back', fixedassets_path %>
