<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
  <%= wicked_pdf_stylesheet_link_tag "pdf/pdf" %>
  </head>
  <body>

<table>
<tr>
  <td class="b">作成日</td>
  <td class="e"><%= @fixedasset.create_date %></td>
</tr>
<tr>
  <td class="b">固定資産番号</td>
  <td><%= @fixedasset.asset_number %></td>
</tr>
<tr>
  <td class="b">取得日</td>
  <td><%= @fixedasset.acquisition_date %></td>
</tr>
<tr>
  <td class="b">機種名</td>
  <td class="e"><%= @fixedasset.modeltype_name %></td>
</tr>
<tr>
  <td class="b">シリアル</td>
  <td><%= @fixedasset.serial_number %></td>
</tr>
<tr>
  <td class="b">場所</td>
  <td><%= @fixedasset.place_summary %></td>
</tr>
<tr>
  <td class="b">詳細</td>
  <td><%= @fixedasset.place_detail %></td>
</tr>
</table>
<p>
  <%= @fixedasset.case_name %>
</p>
</body>
</html>