<% if logged_in? %>
<br>

<table>
<tr>
  <td class="bs">作成日</td>
  <td class="es"><%= @fixedasset.create_date %></td>
</tr>
<tr>
  <td class="bs">案件名</td>
  <td class="es"><%= @fixedasset.case_name %></td>
</tr>
<tr>
  <td class="bs">固定資産番号</td>
  <td class="es"><%= @fixedasset.asset_number %></td>
</tr>
<tr>
  <td class="bs">取得日</td>
  <td class="es"><%= @fixedasset.acquisition_date %></td>
</tr>
<tr>
  <td class="bs">機種名</td>
  <td class="es"><%= @fixedasset.modeltype_name %></td>
</tr>
<tr>
  <td class="bs">シリアル</td>
  <td class="es"><%= @fixedasset.serial_number %></td>
</tr>
<tr>
  <td class="bs">場所</td>
  <td class="es"><%= @fixedasset.place_summary %></td>
</tr>
<tr>
  <td class="bs">詳細</td>
  <td class="es"><%= @fixedasset.place_detail %></td>
</tr>
<tr>
  <td class="bs">備考</td>
  <td class="es"><%= @fixedasset.etc_content %></td>
</tr>
</table>

<%= link_to '編集', edit_fixedasset_path(@fixedasset) %> |
<%= link_to '戻る', fixedassets_path %>


<% else %>
    <h2>セッション異常です。ログインしてください。</h2>  
<% end %>